body {
    background-color: #F3F5FC;
    position: relative;
    margin: 0;
    padding: 0 em;
    min-height: 100vh;
}
.vector{
    height: 48px;
    width: 32px;
    left: 84px;
    top: 40px;
    margin: 40px 0px 10px 84px;
    border-radius: 0px;
}
/*dejar la clase insercion a la izquierda un 60% y la clase resultado 40% a la derecha*/
.insercion{
    position: absolute;
    display: inline-block;
    width: 60%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #F3F5FC;
    border-radius: 0px;
}
.resultado{

    position: absolute;
    display: inline-block;
    width: 40%;
    height: 100%;
    left: 50%;
    top: 0px;
    background: #F3F5FC;
    border-radius: 0px;
}
.campoTexto{
    border: none;
    display: block;
    background: transparent;
    font-size: 32px;
    color: #0A3871;
    height: 18em;
    width: 18em;
    margin: 50px auto 0px 240px;
    text-align: top;
    padding: 0px;
    outline: none;  
}
.boton{
/*pasar 240px a em*/

margin-left: 18em;
display: inline-block;
flex-direction: row;
align-items: flex-start;
padding: 10px;
color: #ffffff;
width: 328px;
height: 67px;
background: #0A3871;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.boton:hover{
    background: #b2b8c4;
}
.boton:active{
    background: #0A3881;
}
.boton2{
    /* Button */
box-sizing: border-box;
display: inline-block;
flex-direction: row;
align-items: flex-start;
padding: 10px;
margin-left: 4em;

width: 328px;
height: 67px;
/* Light gray */
background: transparent;
color: #0A3871;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.boton2:hover{
    background: #b2b8c4;
}
.boton2:active{
    background: #0A3881;
    color: #FFFFFF;
}
.textito{
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 229px;
    height: 18px;
    margin: 0 1em 1.5em 20em;
}
.logui{
    padding-right: 3px;
    width: 16px;
    height: 16px;
}
footer{
    /*posicionar el footer*/
    position: absolute;
    bottom: 0;
    background: #F3F5FC;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    margin: 50px auto;
    text-align: center;
    padding: 0px;

}
#vector{
    width: 16px;
    height: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
.textoResultado{
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #495057;
}

#resultado{
    left: 120em;
    width: 16em;
    height: 32em;
    margin: auto auto;
    display: block;
    margin-top: 40px;
    /*redondear borde*/
    border-color: #FFFFFF;
    border-radius: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.imagenMuñeco{
    /*Ubicar la imagen en el centro del #resultado*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15em;/*21 19*/
    height: 13em;
    margin: 0px;
    display: block;
    margin-top: 2.5em;

}
.msg1{
    /*Ubicar el mensaje en el centro del #resultado*/
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21em;
    height: 19em;
    margin: 0px;
    display: none;
    margin-top: 2.5em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.msg2{
    /*Ubicar el mensaje en el centro del #resultado*/
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21em;
    height: 19em;
    margin: 0px;
    display: block;
    margin-top: 2.5em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.copiar{
    /*ocultar boton*/
    display: none;
    background-color: transparent;
    box-sizing: border-box;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21em;
    height: 4.188em;
    margin: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* or 24px */
    text-align: center;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.novisible{
    display: none;
}
.visible{
    display: block;
}
.textito2{
    /*ubicar arriba del boton copiar*/
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21em;
    height: 4.188em;
    margin: 0px;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}